html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: Century Gothic, sans-serif;;
  font-size: 12px;
}

.ChatBox {
  max-width: 800px;
  margin: auto;
  padding: 10px;
}

.ChatMessage .author {
  width: 14%;
  display: inline-block;
  text-align: right;
  vertical-align: top;
}

.ChatMessage .message {
  display: inline-block;
  width: 84%;
  border-left: 1px solid rgba(150,150,150,0.50);
  padding-left: 1%;
  margin-left: 1%;
  padding-bottom: 10px;
}

.ChatList {
  margin: 0;
  padding: 0;
  list-style: none;
}

.ChatForm {
  margin: 1% 0;
}

.ChatForm input {
  font-size: 12px;
  padding: 3px 2px;
  outline: 0;
  vertical-align: middle;
  font-family: inherit;
  border: 1px solid rgba(150,150,150,0.50);
  -webkit-appearance: none;
  border-radius: 0;
}

.ChatForm .author {
  width: 14%;
  display: inline-block;
  text-align: right;
}

.ChatForm .text {
  width: 40%;
  margin-left: 2%;
  border-right: none;
}

.ChatForm input[type=submit]{
  border-left: 0;
  background: #0BADED;
  color: white;
  padding: 3px 15px;
  cursor: pointer;
}
